{% extends 'index.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div>
            <h1>About ABCD HOSPITAL</h1>
            <span style="font-family: Arial, Helvetica, sans-serif;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus suscipit incidunt est itaque quae possimus, nesciunt vero excepturi, tenetur ad aliquam! Animi eius, laborum quos nisi quisquam minus sapiente nobis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum aspernatur laudantium nesciunt saepe, ducimus in dolores quidem ipsa molestias harum expedita iure dolor asperiores, quibusdam architecto facilis consectetur praesentium sed? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam non placeat fugit vero, aliquam odit quas dolorem ducimus, explicabo veritatis facilis laudantium perspiciatis ipsa molestiae, expedita magnam recusandae soluta. In! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum quidem doloribus veniam atque voluptate, assumenda adipisci ipsam quo at ex tempore quasi suscipit, id ipsa minus nam impedit cupiditate soluta.</span>
        </div>
    </div>
{% endblock %}