{% extends 'index.html' %}
{% load static %}
{% block content %}
    <div class="container " style="text-align: center; ">
        <div class="head">
            <h1>Book Your Appoinment</h1>
            <hr width="50%">
            <br><br><br>
        </div>
        <div class="booking" align="center">
            <label for="">Full Name</label>
            <input type="text"><br>
            <label for="">Age</label>
            <input type="text"><br>
            <label for="">Phone Number</label>
            <input type="text"><br>
            <label for="">Choose a Department</label>
            <select name="departments" id="">
                <option value="">surgery</option>
                <option value="">gynaecology</option>
                <option value="">obstetrics</option>
                <option value="">paediatrics</option>
                <option value="">eye</option>
                <option value="">ENT</option>
                <option value="">dental</option>
                <option value="">orthopaedics</option>
                <option value="">neurology</option>
                <option value="">cardiology</option>
                <option value="">psychiatry</option>
                <option value="">skin</option>
                <option value="">plastic surgery</option>
                <option value=""> nuclear medicine</option>
                <option value=""> infectious disease</option>
            </select>
            <br>
            <label for="">Select Doctor</label>
            <select name="" id="">
                <option value=""></option>
            </select>


            <div style="margin-top: 45px;">
                <a href="/home/booking_date/"><input type="submit" value="NEXT"></a>
            </div>




          
        </div>
    </div>
{% endblock %}