{% extends 'index.html' %}
{% load static %}
{% block content %}
    <div class="container" style="margin-top: 100px; text-align: center;">
        <h1>Booking Date</h1>
        <hr width="50%">
        <br><br><br>
        <label for="">Consultation date</label>
        <input type="date"  >

        <br><br><br><br><br><br>
        <span>Next Available Date : </span>
        <br>
        <p>The doctor may be available to consult on walk-in basis before the next available 
            booking date. Please call the call centre at 0495-2777777 to check the availability. </p>
    </div>
    <div align="center">
        <a href=""><input type="submit" value="BOOK NOW"></a>
    </div>
{% endblock %}