{% extends 'index.html' %}
{% load static %}
{% block content %}
<style>
    select option{
        color: black;
    }
</style>

<div class="container" align = "center">
    <div id="head_style" >Book Your Appoinment</div id="head_style">
    <form action="{% url 'book_appoinment' %}">
        <div class="booking" >
            <label for="">Gender :</label>
            <input type="text" placeholder="Enter Gender" name = "gender"><br>
            <!-- <input type="radio" value="Male">
            <input type="radio" value="Female">
            <input type="radio" value="Other"><br> -->
            <label for="">Age :</label>
            <input type="text" placeholder="Enter your age" name = "age"><br>
            <label for="">Choose a Department :</label>
            <select name="departments" id="">
                {% for data in departments %}
                <option value="">{{ data.department }}</option>
                {% endfor %}
            </select>
            <br>
            <label for="">Select Doctor :</label>
            <select name="doctorName" id="" >
                {% for data in doctors %}
                <option value="">{{ data.doctorName }}</option>
                {% endfor %}

            </select>
            
            <p style="color: red;">{{ message }}</p>
        

            <div style="margin-top: 45px;">
                <a href="/home/booking_date/"><input type="submit" value="NEXT"></a>
            </div>
    </form>




</div>
</div>
{% endblock %}