{% extends 'index.html' %}
{% load static %}
{% block content %}
<style>
    
</style>

<div class="container" align = "center">
    <h2 >Book Your Appoinment</h2>
    <form action="">
        <div class="booking" >
            <label for="">Full Name :</label>
            <input type="text" placeholder="Enter your name" ><br>
            <label for="">Age :</label>
            <input type="text" placeholder="Enter your age"><br>
            <label for="">Phone Number :</label>
            <input type="text" placeholder="Enter phone number"><br>
            <label for="">Choose a Department :</label>
            <select name="departments" id="" >
                <option value="">Choose Department</option>
                <option value="">surgery</option>
                <option value="">gynaecology</option>
                <option value="">obstetrics</option>
                <option value="">paediatrics</option>
                <option value="">eye</option>
                <option value="">ENT</option>
                <option value="">dental</option>
                <option value="">orthopaedics</option>
                <option value="">neurology</option>
                <option value="">cardiology</option>
                <option value="">psychiatry</option>
                <option value="">skin</option>
                <option value="">plastic surgery</option>
                <option value=""> nuclear medicine</option>
                <option value=""> infectious disease</option>
            </select>
            <br>
            <label for="">Select Doctor :</label>
            <select name="" id="">
                <option value="">Select Doctor</option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>

            </select>


            <div style="margin-top: 45px;">
                <a href="/home/booking_date/"><input type="submit" value="NEXT"></a>
            </div>
    </form>




</div>
</div>
{% endblock %}