{% extends 'index.html' %}
{% load static %}
{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">


<div class="container">
    <div id="head_style">CHILD CARE</div>
    <div class="row">
        <div class="col-lg-6">
            <img id="img" src="{% static 'images/slide4.jpg' %}" alt="">
        </div>
    </div>
    <div id="example">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem eum necessitatibus et, animi iure sint!
        Nisi, numquam quod. Quod, natus. Accusantium reprehenderit velit est aliquid enim sunt esse quaerat
        fugit.</div>
</div>

{% endblock %}