{% extends 'index.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/enquiry.css'%}">
<div class="container" style="margin-top: 30px; text-align: left;">
    <div class="body">
    <div class="row">
        <div class="col-lg-6 col-sm-12" style=" border-radius: 10px;">
     <br>
    <span style="font-size:4.5vw">GET IN TOUCH WITH US</span>
            <br>
            <h5 style="color: white; font-weight:  bold;">If you can't find an answer to your question, please don't
                hesitateto contact us</h5><br>
            <span style="font-size: 20px; color: white;">ABCD HOSPITAL LIMITED</span>
            <br>

            <h5>
                <br><br>
                <b> PHONE : 0432 1762 1386</b>
                <br><br>
                <b>EMERGENCY : 0436 1766 1321</b>
                <br><br>
                <b>FAX : +91-495-2723484</b>
                <br><br>
                <b>EMAIL : info@abcdhospital.org</b>
                <br><br>
            </h5>

        </div>
        <br>
        <div class="col-lg-6 col-sm-12">
            <div id="register">
                <div id="head_style">Make an Enquiry</div>
                <div id="register_form">
                    <div class="row">
                        <div class="col-lg-2 col-sm-12"></div>
                        <div class="col-lg-8 col-sm-12">
                            <form action="" method="POST">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-25">
                                        <label for="name">Name :</label>
                                    </div>
                                    <div class="col-75">
                                        <input id="name" type="text" placeholder="Enter Your Name">
                                    </div>
                                </div>
            
                                <div class="row">
                                    <div class="col-25">
                                        <label for="emai">Email :</label>
                                    </div>
                                    <div class="col-75">
                                        <input type="email" id="emai" placeholder="Your Email">
                                    </div>
                                </div>
            
                                <div class="row">
                                    <div class="col-25">
                                        <label for="ph">Phone :</label>
                                    </div>
                                    <div class="col-75">
                                        <input id="ph" type="text" placeholder="Your Phone Number">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-25">
                                        <label for="ad">Address :</label>
                                    </div>
                                    <div class="col-75">
                                        <input id="ad" type="text" placeholder="Your Address">
                                    </div>
                                </div>
            
                                <div class="row">
                                    <div class="col-25">
                                        <label for="msg">message:</label>
                                    </div>
                                    <div class="col-75">
                                        <textarea name="" id="msg" cols="40" placeholder="Message.." rows="3"></textarea>
                                    </div>
                                </div><br>
                                <a href="#">
                                    <div class="row">
                                        <div class="col-25"></div>
                                        <input type="submit" id="submit" value="Submit">
                                    </div>
                                </a>
                            </form>
                        </div>
                        <div class="col-lg-2 col-sm-12"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
</div>
{% endblock %}