
{% extends 'index.html' %}
{% load static %}
{% block content %}
	<link rel="stylesheet" href="{% static 'css/login.css' %}">
    <div class="container-fluid">
		<div class="login">
			<h1 style="font-weight: bold;">Login</h1>
			<hr>
			<input type="text" style="color: black;" placeholder = "Username/ Email/ Phone Number" name="usernam"><br><br><br>
			<input type="password" style="color: black;" placeholder = "Enter your Password" name="pass">

		</div>
		<div class="submit">
			<input style="color: black;" type="submit" value="Login" ><br>
		
			<br>
			<a href="register"><span>Sign-Up</span></a>
<br>
		</div>
	</div>
	<br>

	<script>

	</script>
{% endblock %}