{% extends 'index.html' %}
{% load static %}
{% block content %}

<style>
    .header .row {
        padding-left: 100px;
        padding-top: 10px;
    }

    p,
    input,
    button {
        color: black;
    }

    .body {
        margin-top: 20px;
    }
</style>


<div class="header">
    <div class="row bg-dark">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h5><b> NAME : </h5></b>
            <h6>EMAIL : </h6>
            <h6>PHONE NUMBER : </h6>
            <h6>ADDRESS : </h6>
            <h6>PIN CODE : </h6>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h6>DATE OF BIRTH : </h6>
            <h6>BLOOD GROUP : </h6>
            <h6>SEX : </h6>
            <h6>MERITAL STATUS : </h6>
            <h6>PARENT NAME</h6>
            <h6>PARENT PHONE NUMBER</h6>
            <!-- <button>Edit</button> -->
        </div>
    </div>
</div>
<div class="container">
    <div class="body">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="jumbotron bg-white text-dark">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <p>Doctor Name: </p>
                            <p>Department: </p>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <p>Date: </p>
                            <p>Time: </p>
                        </div>
                    </div>
                    <hr class="my-4">
                    <div class="row">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat veritatis quo rerum quae
                            pariatur porro nihil earum? Blanditiis dolor dolorem et soluta, consectetur natus laborum
                            adipisci officiis velit numquam impedit?
                        </p>
                    </div>
                    <hr class="my-4">
                    <div class="row">
                        <p>upload your op ticket details</p> <br>
                    </div>
                    <div class="row">
                        <form action="">
                            <input type="file" id="myFile" name="filename"><br>
                            <input type="submit" value="upload">
                            <button value="">View image</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>









{% endblock %}