{% extends 'index_doctors.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">

<style>
    input{
        width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    }
</style>



<div class="row " id="register">
    <div class="col-lg-3 col-sm-12"></div>
    <div class="col-lg-6 col-sm-12 ">
        <div id="head_style">Upload Booking Time</div>
        <div class="register_form" id="register_form">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-25">
                        <label for="date">Times : </label>
                    </div>
                    <div class="col-75">
                        <input type="time" id="time" placeholder="select Times" name="time">
                    </div>
                </div>
                <div class="row">
                    <input type="submit" id="submit" value="Upload">
                </div>
            </form>
        </div>
    </div>
    <div class="col-lg-3 col-sm-12"></div>
</div>




{% endblock %}