{% extends 'index_doctors.html' %}
{% load static %}
{% block content %}




<div class="container">
  <div class="row">
    
  <div class="col-lg-3 col-md-3 col-sm-12"></div>
  <div class="col-lg-6 col-md-6 col-sm-12">
  <div id="head_style">Your Details</div>
    <div class="row">
    </div>
    <div class="jumbotron bg-dark"> 
      <h5>Profile photo :</h5> 
      <h5>Name : </h5>
      <h5>Department : </h5>
      <h5>Qualification : </h5>
      <h5>place : </h5>
      <h5>Phone NUmber : </h5>
      <h5>Email : </h5>

    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-12"></div>

  </div>
</div>
  






{% endblock %}