{% extends 'index_doctors.html' %}
{% load static %}
{% block content %}


<div class="container">
    
    <table border="2px solid white">
        <tr>
            <th>patient name</th>
            <th>patient phone number</th>
            <th>patient age</th>
            <th>patient gender</th>
            <th>booked date</th>
            <th>booked Time</th>
        </tr>
        {% for data in booking %}
        <tr>
            <td>{{ data.user_id.user.name }}</td>
            <td>{{ data.user_id.user.phone }}</td>
            <td>{{ data.age }}</td>
            <td>{{ data.gender }}</td>
            <td>{{ data.booking_date }}</td>
            <td>{{ data.booking_time }}</td>

            <td><a href="{% url 'doctors:send_prescription' data.id %}">
                <button style="background-color: brown;">Prescription</button>
            </a></td>
        </tr>
        {% endfor %}

    </table>
</div>





{% endblock %}
