{% extends 'index_admin.html' %}
{% load static %}
{% block content %}

<style>
    input{
        width: 300px;
        height: 40px;
        color: black;
    }
</style>

<!-- <div class="container"> -->
    <div class="row" id="register">
        <div class="col-lg-4 col-sm-12"></div>
        <div class="col-xs-12 col-sm-12 col-lg-4">
            <div id="head_style">add department</div>
            <div id="register_form">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <input type="text" placeholder=" Input department Name" name="department">
                    </div>
                    <br>
                    <div class="row">
                    <input id="submit" type="submit" name="submit" value="ADD">

                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12"></div>
    </div>
<!-- </div> -->












{% endblock %}